<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="header" id="header-login">
        <nav class="navbar navbar-expand-lg navbar-dark" style="width: 100%;">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/logo_id-logistics.jpg' %}" alt="ID Logistics Logo" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger" id="logout-button" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <h1 class="text-center">Portal - Vida útil</h1>
        <!-- Mostrar mensajes con Bootstrap -->
        {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="form-container">
            <img src="{% static 'images/logo_id-logistics_20_years.jpg' %}" alt="ID Logistics Logo">
            <!-- Formulario para subir archivos -->
            <form class="upload-form" method="POST" enctype="multipart/form-data" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="form-group label-wide">
                    <label for="file">Seleccionar archivo</label>
                    <input type="file" class="form-control" id="file" name="file" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Subir Archivo</button>
            </form>
        </div>
    </div>
    <div class="footer">
        © 2024 ID Logistics, all rights reserved.
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            console.log("Script cargado");

            document.getElementById('logout-button').addEventListener('click', function(event) {
                event.preventDefault();
                var confirmLogout = confirm("¿Estás seguro de que quieres cerrar sesión?");
                if (confirmLogout) {
                    window.location.href = this.href;
                }
            });

            window.addEventListener('popstate', function(event) {
                console.log("Evento popstate detectado");
                if (confirm('¿Deseas efectuar un logout?')) {
                    window.location.href = '{% url "logout" %}';
                } else {
                    // Empujar un estado al historial para manejar el primer retroceso
                    history.pushState(null, null, window.location.href);
                }
            });

            // Empujar un estado al historial para manejar el primer retroceso
            history.pushState(null, null, window.location.href);
        });
    </script>
</body>
</html>
