<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal - Vida útil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="header">
        <img src="{% static 'images/logo_id-logistics.jpg' %}" alt="ID Logistics Logo">
    </div>
    <div class="container">
        <h1 class="text-center">Portal - Vida útil</h1>
        <!-- Mostrar mensajes con Bootstrap -->
        {% if messages %}
            <div class="alert alert-danger text-center" role="alert">
                {% for message in messages %}
                    <p class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="form-container">
            <img src="{% static 'images/logo_id-logistics_20_years.jpg' %}" alt="ID Logistics Logo">
            <form class="login-form" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Usuario" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">INICIAR SESIÓN</button>
            </form>
        </div>
    </div>
    <div class="footer">
        © 2024 ID Logistics, all rights reserved.
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
